<div class="Directors-background">
  <div class="Directors">
    <h3 class="Directors-heading">Our Board of Directors</h3>
    <table class="Directors-table">
      <tr>
        <td>
          <%= render "director", director: {
            name: "Leni Mayo",
            bio: "Leni is a software engineer and
              founding investor of 99designs, Flippa,
              Learnable, SitePoint, Tweaky, MMGN and Influx.",
            code: "leni",
            linkedin: "lenimayo"
          } %>
        </td>
        <td>
          <%= render "director", director: {
            name: "Michelle Bourke",
            bio: "Michelle is the director of Artlivemedia
              and co-director of The Talent Door.",
            code: "michelle",
            linkedin: "michellebourke"
          } %>
        </td>
        <td>
          <%= render "director", director: {
            name: "Scott Handsaker",
            bio: "Scott is the CEO of Attendly and Eventarc, founder of
                Startup Victoria and an Angel Cube mentor.",
            code: "scott",
            linkedin: "scotthandsaker"
          } %>
        </td>
        <td>
          <%= render "director", director: {
            name: "Brendan Lewis",
            bio: "Brendan is the founder of Churchill Club, partner at
                Flinders Ventures and Australian Representative for London
                & Partners.",
            code: "brendan",
            linkedin: "brendanlewis"
          } %>
        </td>
      </tr>
    </table>
  </div>
</div>
