.row
  .col-sm-10
    %h2
      Who We Are

    %h3
      Introduction

    %p
      Startup Victoria is a nonprofit organisation dedicated to
      supporting and building Victoria's startup ecosystem.

    %h3
      Our Mission

    %p
      Startups are hard, and they require resilience and
      determination. If they were easy, everyone would be starting
      one. Since there aren't that many of us crazy enough to take on
      this huge challenge, we need to band together.

    %p
      Startup Victoria is all about helping you find the other people
      around you who are fighting the good fight as well. It's a place
      to celebrate your wins, commiserate over struggles and push each
      other further along the path to success.

    %p
      We all need a support team to help us keep going when times are
      tough, and startup founders are no different. Startup Victoria is
      the place to find resources to guide you and people to inspire
      you on your Startup journey.

    %h3
      Become a volunteer

    %iframe{ class: "Video", src: "//www.youtube.com/embed/7HwP1GCacEY", frameborder: "0", :allowfullscreen => true }

    %br

    %a{ href: new_contact_path, class: "btn" }
      Get in touch

    %h3
      Our Board of directors

    / = render "directors"
