<table width="100%">
  <tr>
    <td valign="top">
      <div style="margin-right:15px">
        <h3 class="Heading--primary">
          Who We Are
        </h3>
        <div class="Heading--secondary">Introduction</div>
        <p class="Copy">
          Startup Victoria is a nonprofit organisation dedicated to
          supporting and building Victoria's startup ecosystem.
        </p>

        <div class="Heading--secondary">Our Mission</div>
        <p class="Copy">
          Startups are hard, and they require resilience and
          determination. If they were easy, everyone would be starting
          one. Since there aren't that many of us crazy enough to take on
          this huge challenge, we need to band together.
        </p>
        <p class="Copy">
          Startup Victoria is all about helping you find the other people
          around you who are fighting the good fight as well. It's a place
          to celebrate your wins, commiserate over struggles and push each
          other further along the path to success.
        </p>
        <p class="Copy">
          We all need a support team to help us keep going when times are
          tough, and startup founders are no different. Startup Victoria is
          the place to find resources to guide you and people to inspire
          you on your Startup journey.
        </p>
        <br/>
        <a href="/contact" class="btn">BECOME A VOLUNTEER</a>
      </div>
    </td>
    <td valign="top" width="560">
      <iframe width="560" height="315" src="//www.youtube.com/embed/7HwP1GCacEY" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
</table>
</div>
</div>


<div style="background-color: #bb001c;box-shadow:inset  0px 5px 5px #a20018,inset  0px -5px 5px #a20018;">
<div class="cont">
<div class="cleanit" style="padding:50px 0">
  <h3 style="color:#fff;padding-bottom:20px; font-size:22px;font-weight: normal">Our Board of Directors</h3>
  <table width="100%">
    <tr>
      <td style="text-align: center" valign="top">
        <div style="padding:15px;">
          <div class="circular" style="background: url(/assets/Leni-Mayo.png) no-repeat;">
            <div class="aboutpicbg">
              <a href="http://au.linkedin.com/in/lenimayo" rel="nofollow"
                target="_blank"
                style="display:inline-block;margin-top:90px;">

                <img src="/assets/in.png" border="0" alt="in"/>
              </a>
            </div>
          </div>
          <div style="color:#fff;line-height:22px;padding-top:10px;">
            <b style="font-size: 19px;">Leni Mayo</b><br/>
            <div style="margin-top:7px">
              Leni is a software engineer and founding investor of
              99designs, Flippa, Learnable, SitePoint, Tweaky, MMGN and
              Influx.
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center" valign="top">
        <div style="padding:15px;">
          <div class="circular" style="background: url(/assets/Michelle-Bourke.png) no-repeat;">
            <div class="aboutpicbg">
              <a href="http://au.linkedin.com/in/michellebourke"
                rel="nofollow" target="_blank"
                style="display:inline-block;margin-top:90px;">

                <img src="/assets/in.png" border="0" alt="in"/>
              </a>
            </div>
          </div>
          <div style="color:#fff;line-height:18px;padding-top:10px;">
            <b style="font-size: 19px;">Michelle Bourke</b><br/>
            <div style="margin-top:7px">
              Michelle is the director of Artlivemedia and co-director of The Talent Door.
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center" valign="top">
        <div style="padding:15px;">
          <div class="circular" style="background: url(/assets/Scott-Handsaker.png) no-repeat;">
            <div class="aboutpicbg">
              <a href="http://au.linkedin.com/in/scotthandsaker"
                rel="nofollow" target="_blank"
                style="display:inline-block;margin-top:90px;">

                <img src="/assets/in.png" border="0" alt="in"/>
              </a>
            </div>
          </div>
          <div style="color:#fff;line-height:18px;padding-top:10px;">
            <b style="font-size: 19px;">Scott Handsaker</b><br/>
            <div style="margin-top:7px">
              Scott is the CEO of Attendly and Eventarc, founder of
              Startup Victoria and an Angel Cube mentor.
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center" valign="top">
        <div style="padding:15px;">
          <div class="circular" style="background: url(/assets/Brendan-Lewis.png) no-repeat;">
            <div class="aboutpicbg">
              <a href="http://au.linkedin.com/in/brendanlewis"
                rel="nofollow" target="_blank"
                style="display:inline-block;margin-top:90px;">

                <img src="/assets/in.png" border="0" alt="in"/>
              </a>
            </div>
          </div>
          <div style="color:#fff;line-height:18px;padding-top:10px;">
            <b style="font-size: 19px;">Brendan Lewis</b><br/>
            <div style="margin-top:7px">
              Brendan is the founder of Churchill Club, partner at
              Flinders Ventures and Australian Representative for London
              & Partners.
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
