<div class="Page-left">
  <h3 class="Heading--primary">
    Who We Are
  </h3>
  <div class="Heading--secondary">Introduction</div>
  <p class="Copy">
    Startup Victoria is a nonprofit organisation dedicated to
    supporting and building Victoria's startup ecosystem.
  </p>

  <div class="Heading--secondary">Our Mission</div>
  <p class="Copy">
    Startups are hard, and they require resilience and
    determination. If they were easy, everyone would be starting
    one. Since there aren't that many of us crazy enough to take on
    this huge challenge, we need to band together.
  </p>
  <p class="Copy">
    Startup Victoria is all about helping you find the other people
    around you who are fighting the good fight as well. It's a place
    to celebrate your wins, commiserate over struggles and push each
    other further along the path to success.
  </p>
  <p class="Copy">
    We all need a support team to help us keep going when times are
    tough, and startup founders are no different. Startup Victoria is
    the place to find resources to guide you and people to inspire
    you on your Startup journey.
  </p>
  <br/>
  <a href="/contact" class="btn">BECOME A VOLUNTEER</a>
</div>
<div class="Page-right">
  <iframe
    class="Video"
    src="//www.youtube.com/embed/7HwP1GCacEY"
    frameborder="0"
    allowfullscreen>
  </iframe>
</div>

<% content_for :after_page do %>
  <%= render "directors" %>
<% end %>
