<h3 class="Heading--primary">Contact Us</h3>

<div class="Page-narrow">
  <div id="mapheader" class="Map"></div>
  <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "map.js" %>

  <h3 class="Heading--primary">Send Us An Email</h3>

  <form
    action="/contact"
    method="POST"
    class="Form Form--contactUs emailsub ajaxform">

    <input
      type="text"
      name="fullname"
      value=""
      class="Form-input"
      placeholder="Your Name" />
    <input
      type="text"
      name="email"
      value=""
      class="Form-input"
      placeholder="Your Email Address" />
    <input
      type="text"
      name="phone"
      class="Form-input"
      value=""
      placeholder="Phone Number"/>
    <textarea name="message" class="Form-textarea"></textarea>
    <button type="submit" class="Form-btn">SEND</button>
  </form>
</div>
