- content_for :page_title do
  Jobs at Startup Victoria

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Do you want to be Startup Victoria's first part-time CTO?
        %h1.intro
          %p
            Can you help make Startup Victoria's website THE place for tech startups in Melbourne to visit? 

.container#role
  .col-sm-10
    %h1
      The Role

    %p
      Startup Victoria is looking for a CTO (volunteer) who can spend 3-4 hours a week on improving our current
      website and turn it into the ultimate hub of information about and for tech startups in Victoria.
    %p
      The website is build in Ruby in Rails and Bootstrap, is open sourced and can be cloned 
      here: https://github.com/startupvictoria/membership-site.
    %p
      The CTO would be working closely with the CEO and the Event and Content Committees on developing new site 
      features and will of course get free access to Startup Victoria many paid events and workshops 
      and one of the biggest Tech Conferences in Australia in December.
    %p
      Please contact lars@startupvictoria.com.au for more information.

.container#aboutsv
  .col-sm-10
    %h1
      About Startup Victoria

    %p
      A not-for-profit organisation dedicated to building and supporting Victoria's startup ecosystem.
    %p  
      We have over 4,000 active members and 100+ volunteers making us the biggest entrepreneurship group in Australia.
    %p  
      We organise 50+ events/workshops annually including Lean Startup Melbourne events and one of the largest Tech Conferences in Australia.
    %p  
      Our vision is: More Founders - Better Founders!
=======
          Jobs

.container
  %h1
    Volunteer CTO
  %p
    Text of Job ad goes here
>>>>>>> /jobs
