- content_for :page_title do
  Jobs at Startup Victoria

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Volunteers
        %h1.intro
          %p
            Can you help make Startup Victoria's website THE place for tech startups in Melbourne to visit? 

.container#role
  .col-sm-10
    %h1
      The Role

    %p
      Startup Victoria is always looking for volunteers to help us help Victorian startups. If you think you might be able to help, why not 
      = link_to "contact us?", :new_contact

    %p
      We're always looking for people from a wide range of backgrounds so no matter what you do, let us know if you have something to contribute.

.container#aboutsv
  .col-sm-10
    %h1
      About Startup Victoria

    %p
      A not-for-profit organisation dedicated to building and supporting Victoria's startup ecosystem.
    %p  
      We have over 4,000 active members and 100+ volunteers making us the biggest entrepreneurship group in Australia.
    %p  
      We organise 50+ events/workshops annually including Lean Startup Melbourne events and one of the largest Tech Conferences in Australia.
    %p  
      Our vision is: More Founders - Better Founders!
