%h2
  Startup Victoria Privacy Policy

%p
  Dated: 20th of April, 2014.

%p
  This following document sets forth the Privacy Policy for Startup Victoria:
  = link_to(root_url, root_url) + "."

%p
  Startup Victoria is committed to providing you with the best possible
  customer service experience.  Startup Victoria is bound by the Privacy
  Act 1988, which sets out a number of principles concerning the
  privacy of individuals.

%h3
  Collection of your Personal Information

%p
  There are many aspects of the site which can be viewed without providing
  personal information, however, for access to future Startup Victoria
  customer support features you are required to submit personally
  identifiable information. This may include but not limited to a unique
  username and password, or provide sensitive information in the recovery
  of your lost password.

%h3
  Sharing of your Personal Information

%p
  We may occasionally hire other companies to provide services on our
  behalf, including but not limited to handling customer support enquiries,
  processing transactions or customer freight shipping. Those companies
  will be permitted to obtain only the personal information they need to
  deliver the service. Startup Victoria takes reasonable steps to ensure
  that these organizations are bound by confidentiality and privacy
  obligations in relation to the protection of your personal information.

%h3
  Use of your Personal Information

%p
  During the registration process you will provide basic information
  including name, address, email and phone number. This is not an
  exhaustive list. This information will be stored by Startup Victoria.
  Some of this information may be used to create a persona on our website
  for the purposes of networking. If you do not wish for your information
  to be shared you may contact Startup Victoria and request it be withheld.

%p
  From time to time, we may use customer information for new, unanticipated
  uses not previously disclosed in our privacy notice. If our information
  practices change at some time in the future we will use for these new
  purposes only, data collected from the time of the policy change forward
  that will adhere to our updated practices.

%h3
  Changes to this Privacy Policy

%p
  Startup Victoria reserves the right to make amendments to this Privacy
  Policy at any time. If you have objections to the Privacy Policy, you
  should not register or share your private information.

%h3
  Accessing Your Personal Information

%p
  You have a right to access your personal information, subject to
  exceptions allowed by law. Startup Victoria will make all of your
  information available to you on the website and expects that you update
  it as necessary.

%h3
  Contacting Us

%p
  Startup Victoria welcomes your comments regarding this Privacy Policy.
  If you have any questions about this Privacy Policy and would like
  further information, please contact us by any of the following means.

%p
  %address
    Startup Victoria
    %br
    Level 1, 41 Stewart St,
    %br
    Richmond, Victoria, 3121
  email:
  = link_to("mailto:hello@startupvictoria.com.au", "mailto:hello@startupvictoria.com.au")
  
  %br
  web:
  = link_to(root_url, root_url)
