%h2
  Startup Victoria Terms and Conditions

%p
  Dated: 20th of April, 2014.

%p
  In using Startup Victoria’s website and services you are deemed to have read and agreed to the following terms and conditions.

%p
  We may update the terms and conditions at any time. When we do, we will
  add or revise the “Revision date” at the top of this Agreement. It is
  your responsibility to review the most recent version of the Agreement
  frequently and remain informed about any changes to it. By continuing
  to use Startup Victoria’s website and services, you consent to any
  updates to this Agreement.

%p
  Startup Victoria is a member-based, non-profit entity dedicated to the
  growth and promotion of the startup ecosystem in Melbourne and across
  Victoria.

%p
  Ultimately, we strive to help Melbourne become a world-class location
  for it’s people to build and grow world-class startups. We also want to
  support other regions in Victoria in developing local startup
  ecosystems.

%p
  Our focus is on high-growth technology businesses (startups). Startups
  are important because they have the capacity to make economic and
  cultural contributions that are disproportionate to their modest
  beginnings.

%p
  Our programs are designed to deliver change through NETWORKING,
  EDUCATION and VISIBILITY.

%p
  We NETWORK startup founders with each other and with the resources they
  need through a combination of events, communications and activities. We
  do this to create more startup teams and better equipped founders.

%p
  We EDUCATE founders via events, workshops and exposure to mentors. We
  work to recycle the existing business and technology expertise back
  into the ecosystem. We aim to create self-sustaining loops whereby one
  generation of founders mentors the next.

%p
  We create VISIBILITY amongst founders, startup companies and the rest
  of the economy. We do this to encourage more people to consider
  creating companies, to create opportunity for local startups and to
  celebrate success stories as they emerge.

%p
  Through these measures, Startup Victoria aims to contribute to the
  creation of a sustainable high-growth technology industry that drives
  economic growth, creates employment and helps build intellectual
  capital within the city of Melbourne and the wider state of Victoria.

%p
  You agree to comply with all applicable domestic and international
  laws, statutes, ordinances and regulations regarding your use of our
  website and services, including without limitation your participation
  in or involvement with any events and your submission of acceptable
  Public Information. You also agree to comply with all applicable laws,
  statutes, ordinances and regulations regarding the transmission of
  technical data exported from Australia.

%h3
  Privacy Statement

%p
  We are committed to protecting your privacy. When you complete our
  registration process you will create a password that will enable you to
  access our website and services, as well as RSVP to events. You agree
  to maintain the confidentiality of your password, and are fully
  responsible for all liability and damages resulting from your failure
  to maintain that confidentiality and all activities that occur through
  the use of your password. You agree to immediately notify us of any
  unauthorized use of your password or any other breach of security. You
  agree that Startup Victoria cannot and will not be liable for any loss
  or damage arising from your failure to comply.

%p
  During the registration process you will provide basic information
  including name, address, email and phone number. This is not an
  exhaustive list. This information will be stored by Startup Victoria.
  Some of this information may be used to create a persona on our website
  for the purposes of networking. If you do not wish for your information
  to be shared you may contact Startup Victoria and request it be
  withheld. You can find a full copy of our Privacy Policy on our website
  at
  = link_to(privacy_url, privacy_url) + "."

%h4
  Fees and Payments

%p
  Membership with Startup Victoria will have a number of paid and also a
  free options. Free memberships give you access to Lean Startup
  Melbourne events every month and regular news.
  Startup Victoria reserves the right to change this policy
  at any time. Access to our website and use of selected features is
  free. We will charge fees for other levels of membership and events. We
  may, in our sole discretion and by notifying you on our website, change
  this policy and begin charging for access to our website and other
  features and services, and we may, in our sole discretion add, remove
  or change the features and services we offer or the fees.

%p
  We may from time to time offer promotions where we may discount or
  waive certain Startup Victoria fees for membership or events. We will
  also offer discounts for our members to third party organizations.
  These discounts and offers have no cash value, are not retroactive, and
  unless specified, are non-transferable and expire on the provided date.
  Additionally, we may ship free Startup Victoria promotional materials
  to an address you specify in order to promote your Startup Victoria.

%h3
  Confidentiality

%p
  Your information is defined as any information post or other material
  you provide (directly or indirectly), including through the
  registration process for an event, or through the use of our website,
  in any public message board or through email. You are solely
  responsible for Your Information and we act as a passive conduit for
  your online distribution and publication of your public information.

%p
  Any of your information that, through the use of our website or
  otherwise, you submit or make available for inclusion on publicly
  accessible areas of our website is referred to as public information.
  Your name and email are considered public information. Any other
  information will be considered private information and will only be
  accessible to authorized employees and essential members and volunteers
  of the Startup Victoria organization and board.

%p
  You should understand that your public information may be accessible by
  and made public through syndication programs and by search engines,
  metasearch tools, crawlers, metacrawlers and other similar programs.

  %strong
    We will not sell, share, or rent your personal information to any
    third party or use your email address for unsolicited mail. Any
    emails sent by Startup Victoria will only be in connection with the
    provision of agreed services and products.

%h4
  Disclaimer
  %br
  Exclusions and Limitations

  %p
    %strong
      The information on this website is provided on an “as is” basis. To the
      fullest extent permitted by law, Startup Victoria:

      %ul
        %li
          excludes all representations and warranties relating to this
          website and its contents or which is or may be provided by any
          affiliates or any other third party, including in relation to any
          inaccuracies or omissions in this website and/or our literature;
          and
        %li
          excludes all liability for damages arising out of or in connection
          with your use of this website. This includes, without limitation,
          direct loss, loss of business or profits (whether or not the loss
          of such profits was foreseeable, arose in the normal course of
          things or you have advised Startup Victoria of the possibility of
          such potential loss), damage caused to your computer, computer
          software, systems and programs and the data thereon or any other
        direct or indirect, consequential and incidental damages.

%p
  Startup Victoria does not however exclude liability for death or
  personal injury caused by its negligence. The above exclusions and
  limitations apply only to the extent permitted by law. None of your
  statutory rights as a consumer are affected.

%h4
  Interference with the website

%p
  You agree that you will not:
  %br
  Upload, post, email, or otherwise
  transmit any computer routines, files or programs designed to
  interrupt, destroy or limit the functionality of any computer software
  or hardware or telecommunications equipment;

%p
  Interfere with or disrupt our website or disobey any requirements,
  procedures; policies or regulations of the networks connected to our
  website or through the use of our platform, or otherwise interfere with
  our website in any way, including through the use of JavaScript or
  other coding;

%h4
  Links

%p
  We may provide, or third parties may provide, links to other websites
  or resources. Because we have no control over such websites or
  resources, you acknowledge and agree that we are not responsible for
  the availability of such websites or resources, and do not endorse and
  are not responsible or liable for any content, advertising, products,
  or other materials on or available from such websites or resources. You
  also acknowledge and agree that Startup Victoria shall not be
  responsible or liable, directly or indirectly, for any damage or loss
  caused or alleged to be caused by or in connection with the use of or
  reliance on any such content, goods or services available on or through
  any such websites or resource.

%p
  If you create a link to a page of this website you do so at your own
  risk and the exclusions and limitations set out above will apply to
  your use of this website by linking to it.

%h4
  Termination of Agreements and Refunds Policy

%p
  Both the members and ourselves have the right to terminate any services
  agreement for any reason, including the ending of services that are
  already underway. No refunds shall be offered, where a service is
  deemed to have begun and is, for all intents and purposes, underway.
  Any monies that have been paid to us which constitute payment in
  respect of the provision of unused services, shall not be refunded.

%h4
  Availability

%p
  Unless otherwise stated, the services featured on this website are only
  available within Australia, or in relation to postings from Australia.
  All advertising is intended solely for the Australian market. You are
  solely responsible for evaluating the fitness for a particular purpose
  of any downloads, programs and text available through this site.
  Redistribution or republication of any part of this site or its content
  is prohibited, including such by framing or other similar or any other
  means, without the express written consent of Startup Victoria. Startup
  Victoria does not warrant that the service from this site will be
  uninterrupted, timely or error free, although it is provided to the
  best ability. By using this service you thereby indemnify Startup
  Victoria, its employees, agents and affiliates against any loss or
  damage, in whatever manner, howsoever caused.

%h4
  Copyright Notice

%p
  Copyright and other relevant intellectual property rights exist on
  all text relating to Startup Victoria’s services and full content of
  this website.

%h4
  Communication

%p
  We have several different email addresses for different queries.
  These, and other contact information, can be found on our contact us
  link on our website.

%h4
  Force Majeure

%p
  Neither party shall be liable to the other for any failure to perform
  any obligation under any agreement which is due to  an event beyond the
  control of such party including but not limited to any Act of God,
  terrorism, war, political insurgence, insurrection, riot, civil unrest,
  act of civil or military authority, uprising, earthquake, flood or any
  other natural or man made eventuality outside of our control, which
  causes the termination of an agreement or contract entered into, nor
  which could have been reasonably foreseen. Any party affected by such
  event shall forthwith inform the other party of the same and shall use
  all reasonable endeavors to comply with the terms and conditions of any
  agreement contained herein.

%h4
  Waiver

%p
  Failure of either party to insist upon strict performance of any
  provision of this or any agreement or the failure of either party to
  exercise any right or remedy to which it, he or they are entitled
  hereunder shall not constitute a waiver thereof and shall not cause a
  diminuation of the obligations under this or any agreement. NO waiver
  of any of the provisions of this or any agreement shall be effective
  unless it is expressly stated to be such and signed by both parties.

%h4
  Code of Conduct

%p
  As a member of Startup Victoria you agree to operate within the group
  with integrity. Such behaviors such as infringing on other member’s
  Intellectual Property without consent, discriminatory action or sexual
  harassment will not be tolerated and are means for revocation of
  membership without refund of any monies paid. This is not an exclusive
  list any other behavior that would be deemed grossly inappropriate
  should also be considered as a part of this agreement as means for
  termination of membership without any refund of monies paid.

%h4
  Payment

%p
  Startup Victoria will accept all major credit cards. At which time your
  card information will be stored for recurring annual payments. All
  annual subscriptions are due and payable in advance of 1 July in each
  year.  If a person applies for membership after 1 July in any year, the
  Directors may reduce the annual subscription payable by the applicant
  in such a manner as they think fit. A member ceases to be entitled to
  any of the rights or privileges of membership if the annual
  subscription of a member remains unpaid for two months after it becomes
  payable and a notice of default is given to the member. A member may
  cancel their membership by contacting Startup Victoria at which time no
  recurring annual fees will be assessed, however any fees already
  assessed will not be eligible for refund. Startup Victoria may in some
  instances accept cash payments.

%p
  %strong
    These terms and conditions form part of the agreement between you
    and Startup Victoria. Your accessing of this website and/or
    registration as a member of Startup Victoria indicates your
    understanding, agreement to, and acceptance of, the terms and
    conditions contained herein and your consent to electronic
    signature.
