- content_for :page_title do
  Membership

.membership-plans
  .row
    .col-xs-12.col-sm-6
      %h2
        Membership

      %p
        Membership is about community.
      %p
        Members also get:
      
      %ul
        %li
          free or discounted access to events, and
        %li
          thousands of dollars worth of access to startup-friendly online services like 99designs, Atlassian, HelpScout, PIN, Stripe and Zendesk.
        
      %p
        Solidarity and local support networks help build your business success!

    .col-xs-12.col-sm-6.header
      .row
        .col-xs-5.col-sm-6.plan1
          .title
            Premium
          .price
            $99
          .duration
            per year
          %p.description
            Perfect for everyone interested in startups!
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          %a.btn.btn-primary.btn-large{ href: new_membership_path }
            Register

        .col-xs-5.col-sm-6.plan2
          .title
            Business
          .price
            $5,000
          .duration
            per year
          %p.description
            For businesses with services relevant to startups.
          %a.btn.btn-primary.btn-large{ href: new_contact_path }
            Contact Us

  - triplets.each do |triplet|
    .row.feature-row
      .col-xs-12.col-sm-6.feature
        .parent
          .child
            = triplet[:feature]

      .col-xs-12.col-sm-6
        .row
          .col-xs-5.col-sm-6.plan-feature.plan1
            - if triplet[:premium]
              .glyphicon.glyphicon-ok
            - else
              .glyphicon.glyphicon-remove

          .col-xs-5.col-sm-6.plan-feature.plan2
            - if triplet[:business]
              .glyphicon.glyphicon-ok
            - else
              .glyphicon.glyphicon-remove

  .col-xs-12.col-sm-6

  .col-xs-12.col-sm-6
    .row.bottom
      .col-xs-5.col-sm-6
        .plan1
          %a.btn.btn-primary.btn-large{ href: new_membership_path }
            Register
      .col-xs-5.col-sm-6
        .plan2
          %a.plan2.btn.btn-primary.btn-large{ href: new_contact_path }
            Contact Us
