.membership-plans
  .row.preface
    .col-xs-6
      %h2
        Membership

      %p
        Membership is about community.
        
      %p
        Solidarity and local support networks help build your business success!

  .row
    .col-xs-6
      %center
        = image_tag "highres_331026862.jpeg", border: "0", style: "width: 50%"

    .col-xs-3.header
      .plan1
        .title
          Premium
        .price
          $99
        .duration
          per year
        %p.description
          Perfect for everyone interested in startups!
        %a.btn.btn-primary.btn-large{ href: new_membership_path }
          Register

    .col-xs-3.header
      .plan2
        .title
          Business
        .price
          $5,000
        .duration
          per year
        %p.description
          For businesses with services relevant to startups.
        %a.btn.btn-primary.btn-large{ href: new_contact_path }
          Contact Us

  - triplets.each do |triplet|
    .row.feature-row
      .col-xs-12.col-sm-6.feature
        = triplet[:feature]

      .col-xs-12.col-sm-6
        .row
          .col-xs-4.col-sm-6.plan-feature.plan1
            - if triplet[:premium]
              .glyphicon.glyphicon-ok
            - else
              .glyphicon.glyphicon-remove

          .col-xs-4.col-sm-6.plan-feature.plan2
            - if triplet[:business]
              .glyphicon.glyphicon-ok
            - else
              .glyphicon.glyphicon-remove

  .row.footer
    .col-xs-3.col-xs-offset-6
      .plan1
        %a.btn.btn-primary.btn-large{ href: new_membership_path }
          Register
    .col-xs-3
      .plan2
        %a.btn.btn-primary.btn-large{ href: new_contact_path }
          Contact Us
