- content_for :page_title do
  Membership

.membership-plans6
  .row
    #banner
      .container.intro_wrapper
        .inner_content
          %h1.title
            Memberships
          %h1.intro
            %p
              For only $99 you can become a member of Startup Victoria and get:
  
            %ul
              %li
                Access to the Startup Pack which gives you $30,000+ worth of coupons to online services that most tech startups use; and  

              %li
                Free or discounted access to events plus early notice for popular events.
        
.membership-plans1
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-5.col-lg-offset-1.pricing-table
        %ul
          %li.pricing-header-row-1
            %h4
              %span
                Premium
          %li.pricing-header-row-2
            %h3.price
              $99
            %small
              per year
          %li.pricing-content-row-odd
            Perfect for everyone interested in startups!             
          %li.pricing-content-row-even
            $30,000+ of discount coupons to startup products & services
          %li.pricing-content-row-odd
            Discounted tickets to Startup Victoria events and workshops
          %li.pricing-content-row-even
            Early access to special offers and event tickets
          %li.pricing-content-row-odd
            Access to peer networking events
          %li.pricing-content-row-even
            Virtual office hours
          %li.pricing-content-row-odd
            Vote in Startup Victoria board elections

          %li.pricing-footer
            %a.btn.btn-pricing{"href" => new_membership_path}
              %h5
                Register


    
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-5.pricing-table
        %ul
          %li.pricing-header-row-1
            %h4
              %span
                Business
          %li.pricing-header-row-2
            %h3.price
              $5,000 
            %small
              per year
          %li.pricing-content-row-odd
            For businesses with services relevant to startups.              
          %li.pricing-content-row-even
            Discounted tickets to Startup Victoria events and workshops
          %li.pricing-content-row-odd
            Early access to special offers and event tickets
          %li.pricing-content-row-even
            Access to peer networking events
          %li.pricing-content-row-odd
            Share content with our membership base
          %li.pricing-content-row-even.lcontact
            Offer discounted products/services to our membership base
          %li.pricing-footer
            %a.btn.btn-pricing{"href" => new_contact_path}
              %h5
                Contact Us
