---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=peter%40hooli.com&description=User%20%231&card=tok_14gl4c2Bqo1TlaLlzqQg20Fg
    headers:
      Authorization:
      - Bearer sk_test_XWC6nVWqURWbnxUI5QtKJiKo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-28'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1411685455,
          "id": "cus_4qRyFTAyhh98Lr",
          "livemode": false,
          "description": "User #1",
          "email": "peter@hooli.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4qRyFTAyhh98Lr/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4qRyFTAyhh98Lr/cards",
            "data": [
              {
                "id": "card_14gl4c2Bqo1TlaLlop5RfiYG",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 10,
                "exp_year": 2014,
                "fingerprint": "qzOt1ioofVJXp2Hx",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4qRyFTAyhh98Lr",
                "type": "Visa"
              }
            ]
          },
          "default_card": "card_14gl4c2Bqo1TlaLlop5RfiYG"
        }
  recorded_at: Tue, 23 Sep 2014 09:45:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4qRyFTAyhh98Lr/subscriptions
    body:
      encoding: US-ASCII
      string: plan=premium
    headers:
      Authorization:
      - Bearer sk_test_XWC6nVWqURWbnxUI5QtKJiKo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-28'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Tue, 23 Sep 2014 09:45:27 GMT
recorded_with: VCR 2.9.2
