---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=peter%40hooli.com&description=User%20%231&card=tok_14gl4Q2Bqo1TlaLlLXBQwsYM
    headers:
      Authorization:
      - Bearer sk_test_XWC6nVWqURWbnxUI5QtKJiKo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-28'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1411685444,
          "id": "cus_4qRydTdH6gpASp",
          "livemode": false,
          "description": "User #1",
          "email": "peter@hooli.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4qRydTdH6gpASp/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4qRydTdH6gpASp/cards",
            "data": [
              {
                "id": "card_14gl4Q2Bqo1TlaLlAzNuN6mN",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 10,
                "exp_year": 2014,
                "fingerprint": "DhZaUzXhkx7dVHFD",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4qRydTdH6gpASp",
                "type": "Visa"
              }
            ]
          },
          "default_card": "card_14gl4Q2Bqo1TlaLlAzNuN6mN"
        }
  recorded_at: Tue, 23 Sep 2014 09:45:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4qRydTdH6gpASp/subscriptions
    body:
      encoding: US-ASCII
      string: plan=premium
    headers:
      Authorization:
      - Bearer sk_test_XWC6nVWqURWbnxUI5QtKJiKo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-28'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4qRywWdFnipxAA",
          "plan": {
            "interval": "year",
            "name": "Annual",
            "created": 1399716349,
            "amount": 9900,
            "currency": "aud",
            "id": "premium",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1411685446,
          "status": "active",
          "customer": "cus_4qRydTdH6gpASp",
          "cancel_at_period_end": false,
          "current_period_start": 1411685446,
          "current_period_end": 1443221446,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Tue, 23 Sep 2014 09:45:16 GMT
recorded_with: VCR 2.9.2
