- content_for :page_title do
  Coupons

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Coupons For Members
        %h1.intro
          %p
            Startup Victoria members get tens of thousands of dollars worth of free/discounted access to huge range of startup-friendly services. Each logo has a crazy-good deal behind it.
          - if logged_in?
            %p
              Click the logo to access the coupon code.
          - else
            %p
              You must be a
              = link_to("member", memberships_path)
              to access the coupon codes.

%hr

.container
  - @coupons.each_index do |i|
    - coupon = @coupons[i]
    - if (i % 3) == 0
      .row
    .col-sm-4
      %a.offerslink{ href: coupon_path(coupon) }
        .inneroffer
          %div
            - if coupon.has_logo?
              = image_tag coupon.logo_path, border: "0"
            .showdet
              %br
              %h3
                Coupon Details
              %br
              %br
              = coupon.teaser_description
          .compname
            = coupon.teaser_name
