- content_for :page_title do
  Coupons

.row
  .col-sm-10
    %h2
      Coupons for members

    %p
      Startup Victoria members get discounted or free access to a huge array of startup-friendly services.
    %p
      Each logo has a crazy-good deal behind it.
    - if logged_in?
      %p
        Click the logo to access the coupon code.

%hr

.container
  - @coupons.each_index do |i|
    - coupon = @coupons[i]
    - if (i % 3) == 0
      .row
    .col-sm-4
      %a.offerslink{ href: coupon_path(coupon) }
        .inneroffer
          %div
            - if coupon.has_logo?
              = image_tag coupon.logo_path, border: "0"
            .showdet
              %br
              %h3
                Coupon Details
              %br
              %br
              = coupon.teaser_description
          .compname
            = coupon.teaser_name
