%div{ style: "min-height:600px; background-color: #ededed" }
  .cont
    %h3.redtitle{ style: "padding:30px 0 10px 0;font-size:27px;" }
      Coupons for members

    .cleanit
      %div.member-offers{ style: "float:left;width:742px;" }
        %div{ style: "color:#00a2d3;padding-bottom:20px;line-height: 22px" }
          %i
            Members get freebies and discounts from tons of startup-friendly services across the globe.
            %br
            Each logo has a crazy-good deal behind it.

        .cleanit
          - @coupons.each do |coupon|
            %a.offerslink{ href: coupon_path(coupon) }
              .inneroffer
                %div{ style: "position:relative;width:227px;height: 227px;overflow:hidden" }
                  = image_tag coupon.logo_path, border: "0"
                  .showdet
                    %br
                    Coupon Details
                    %br
                    %br
                    %div{ style: "font-size:12px"}
                      = coupon.teaser_description
                .compname
                  = coupon.teaser_name
