<div id="footer">
  <div class="cont">
    <div class="cleanit">
      <div class="fl aboutus">
        <div class="xtitle">About Us</div>
        <div class="descx">
          Startup Victoria is a nonprofit organisation dedicated to supporting
          and building Victoria's startup ecosystem.
        </div>
        <a href="/contact" class="btn" style="margin-top:20px;margin-right:5px;">
          BECOME A VOLUNTEER
        </a>
        <a href="https://confirmsubscription.com/h/i/EFC3DD47E212C653" class="btn">
          GET EMAIL NEWS
        </a>
      </div>
      <div class="fl other">
        <div class="xtitle">Other Resources</div>
        <div class="otherx">
          <a href="http://www.meetup.com/Lean-Startup-Melbourne/" target="_blank">
            Lean Startup Melbourne</a>
        </div>
      </div>
      <div class="fl hello">
        <div class="xtitle">Say Hello</div>
        <div class="descx">
          Email: <a href="mailto:hello@startupvictoria.com.au">hello@startupvictoria.com.au</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footeralt">
  <a href="/contact" class="xxx">Contact</a> | <a href="/terms" class="xxx">Terms and Conditions</a> | <a  class="xxx" href="/privacy">Privacy Policy</a>
  <div>Copyright &copy; Startup Victoria</div>
  <div id="ajaxreturn"></div>
</div>
