.row.footer
  .container
    .col-sm-12
      .col-sm-3
        %ul.list-unstyled
          %li
            %h3
              About Us
          %li
            %p
              Startup Victoria is a nonprofit organisation which works to create more and better startups in Victoria.

      .col-sm-3
        %ul.list-unstyled
          %li
            %h3
              Things we do
          %li
            %a{ href: "http://www.meetup.com/Lean-Startup-Melbourne/", target: "_blank" }
              Lean Startup Melbourne

      .col-sm-3
        %ul.list-unstyled
          %li
            %h3
              Things to do
          %li
            %a{ href: "https://confirmsubscription.com/h/i/EFC3DD47E212C653", rel: "nofollow" }
              Get email news

          %li
            %a{ href: new_contact_path }
              Become a volunteer


      .col-sm-3
        %ul.list-unstyled
          %li
            %h3
              Open Source
          %li
            %p
              This web site is open source software.

          %li
            %a{ href: "https://github.com/startupvictoria/membership-site" }
              Fork me on Github
