#footer
  .cont
    .cleanit
      .fl.aboutus
        .xtitle
          About Us

        .descx
          Startup Victoria is a nonprofit organisation dedicated to supporting
          and building Victoria's startup ecosystem.

        %a.btn{ href: "/contact", style: "margin-top:20px;margin-right:5px;" }
          BECOME A VOLUNTEER

        %a.btn{ href: "https://confirmsubscription.com/h/i/EFC3DD47E212C653" }
          GET EMAIL NEWS

      .fl.other
        .xtitle
          Other Resources
        .otherx
          %a{ href: "http://www.meetup.com/Lean-Startup-Melbourne/", target: "_blank" }
            Lean Startup Melbourne

      .fl.hello
        .xtitle
          Say Hello
        .descx
          Email:

          %a{ href: "mailto:hello@startupvictoria.com.au" }
            hello@startupvictoria.com.au

    %a{ href: "https://github.com/startupvictoria/membership-site" }
      %img{ style: "position: absolute; bottom: 0; right: 0; border: 0;", alt: "Fork me on GitHub", src: "https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" }

#footeralt
  %a.xxx{ href: "/contact" }
    Contact
    |
    %a.xxx{ href: "/terms" }
      Terms and Conditions
    |
    %a.xxx{ href: "/privacy"}
      Privacy Policy

  %div
    Copyright &copy; Startup Victoria

  #ajaxreturn
