#footer
  %h1
    get in touch
  .follow_us
    %a.fa.fa-twitter.follow_us{"href" => "https://twitter.com/startupvic"}
    %a.fa.fa-facebook.follow_us{"href" => "https://www.facebook.com/StartupVictoria"}
    %a.fa.fa-linkedin.follow_us{"href" => "http://www.linkedin.com/company/startup-victoria"}
    %br
    %a.fa.fa-google-plus.follow_us{"href" => "https://plus.google.com/communities/115936746793805019517"}
    %a.fa.fa-github.follow_us{"href" => "https://github.com/startupvictoria"}
    %a.fa.fa-youtube.follow_us{"href" => "http://www.youtube.com/user/LeanStartUpMelbourne"}


#footer_alt
  .container
    .row
      .col-sm-12
        .row
          .col-sm-3
            %ul.list-unstyled
              %li.foot_white
                %h4
                  &copy; Startup Victoria, 2014
              %li
                %a{ href: privacy_path, target: "_blank" }
                  Privacy Policy
              %li
                %a{ href: terms_and_conditions_path, target: "_blank" }
                  Terms and Conditions

          .col-sm-3
            %ul.list-unstyled
              %li.foot_white
                %h4
                  About Us
              %li
                = link_to "Our Mission", about_us_path(:anchor => "mission")

          .col-sm-3
            %ul.list-unstyled
              %li.foot_white
                %h4
                  Things to do
              %li
                %a{ href: "https://confirmsubscription.com/h/i/EFC3DD47E212C653", rel: "nofollow" }
                  Subscribe to the newsletter

              %li
                %a{ href: new_contact_path }
                  Volunteer

              %li
                %a{ href: "http://www.meetup.com/Lean-Startup-Melbourne/", target: "_blank" }
                  Join Lean Startup Melbourne


          .col-sm-3
            %ul.list-unstyled
              %li.foot_white
                %h4
                  Open Source
              %li
                %a{ href: "https://github.com/startupvictoria/membership-site" }
                  Fork me on Github


= render "shared/google_analytics_footer"
