.col-sm-3
  %center

    = image_tag asset_path("person/" + person.image_filename), border: "0", class: "img-circle"

    %h3
      - if person.url.empty?
        = person.name
      - else
        = link_to person.name, person.url

    %p
      = person.bio
