%div.navbar.navbar-inverse.navbar-fixed-top{ role: "navigation" }
  .container
    .navbar-header
      %a.navbar-brand{ href: root_path }
        Startup Victoria

    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{ href: root_path }
            Home
        %li
          %a{ href: about_us_path }
            About
        %li
          %a{ href: memberships_path }
            Membership
        %li
          %a{ href: coupons_path }
            Coupons
        %li
          %a{ href: events_path }
            Events
        %li
          %a{ href: new_contact_path }
            Contact
        %li
          - if logged_in? && current_user.admin?
            = link_to "Admin", admin_root_path, style: "color: red"

      - if !content_for? :spartan_header_footer
        = render "shared/primary_navigation_right"
