%ul.nav.navbar-nav.navbar-right
  - if logged_in?
    %li.dropdown

      %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
        = current_user.full_name
        %b.caret

      %ul.dropdown-menu
        %li
          = link_to "Dashboard", dashboards_path
          %li.divider
        - if logged_in? && current_user.admin?
          %li
            = link_to "Admin", admin_root_path, style: "color: red"
          %li.divider

        %li
          %a{ href: logout_path }
            Logout
  - else
    %li
      %a{ href: login_path }
        Login
