.homerow
  .container.wrapper
    .inner_content
      .row
        .col-sm-12.col-md-3.landing-banner-item
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-calendar.intro-icon-large
            %h6
              %span
                =link_to("EVENTS", events_path)
                %br

            %p
              For beginners and experts. We run monthly workshops and meetups under the banner of Lean Startup Melbourne which is the largest meetup group in Melbourne (4,500 members)
              %br
              %br

        .col-sm-12.col-md-6.landing-banner-item
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-pencil-square-o.intro-icon-large
            %h6
              %span
                =link_to("JOIN", memberships_path)
                %br

            %p
              Startup Victoria members receive many benefits such as $30,000+ worth of discounts on essential startup services and discounts on all our events

            %a.btn.btn-pricing{"href" => new_membership_path}
              %h5
                Join Now

        .col-sm-12.col-md-3.landing-banner-item
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-magic.intro-icon-large
            %h6
              %span
                =link_to("INSPIRATION", "http://aboveallhuman.co/", :target => "_blank")
                %br

            %p
              Startup Victoria holds an annual conference <a href="http://aboveallhuman.co" target="_blank">Above All Human</a> which is Australia's largest Tech Startup Conference
              %br
              %br



.home-index#banner
  .jumbotron.container.intro_wrapper
    .inner_content
      .welcome_index.animated.fadeInDown
        Startup Victoria wants to
        %br
        encourage more people to be founders
        %br
        and help founders be more successful
