.homerow
  .container.wrapper
    .inner_content
      .row.pad45
        .col-sm-6.col-md-3
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-calendar.intro-icon-large
            %h6
              %span
                =link_to("EVENTS", events_path)
                %br

            %p
              For beginners and experts. Educational events are open to the public but members get free (or discounted) access.
              %br
              %br
          .pad25

        .col-sm-12.col-md-6
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-pencil-square-o.intro-icon-large
            %h6
              %span
                =link_to("JOIN", memberships_path)
                %br

            %p
              Startup Victoria members receive access to a wide range of benefits, from exclusive access to unique events to discounts on essential services and Q&A with community leaders.

            %a.btn.btn-pricing{"href" => new_membership_path}
              %h5
                Join Now
          .pad25

        .col-sm-6.col-md-3
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-magic.intro-icon-large
            %h6
              %span
                =link_to("INSPIRATION", "http://aboveallhuman.co/", :target => "_blank")
                %br

            %p
              Startup Victoria holds an annual conference as part of Startup Week that challenges people to think in new ways.
              %br
              %br
          .pad25



.home-index#banner
  .jumbotron.container.intro_wrapper
    .inner_content
      .welcome_index.animated.fadeInDown
        Startup Victoria wants to
        %br
        encourage more people to be founders
        %br
        and help founders be more successful
