.jumbotron
  %h2
    Startup Victoria

  %h3
    More Founders, Better Founders

  %p
    Startup Victoria is a nonprofit organisation dedicated to supporting and building Victoria's startup ecosystem.

  %p
    %a.btn.btn-primary.btn-large{ href: memberships_path }
      Become a member »

.row
  .span12
    %h2
      More Founders, Better Founders
    %p
      Startup Victoria wants to:
    %ul
      %li
        encourage more people to found startups, and
      %li
        help startup founders be more successful.

.row
  .span12
    %h2
      What we do
.row
  .span2
    %p
      Some of the things we do
.row
  %div
    %ul
      %li
        Events
      %li
        Education
      %li
        inspiration
      %li
        networking
      %li
        resources
      %li
        peer support
