.homerow
  .container.wrapper
    .inner_content
      .row.pad45
        .col-sm-6.col-md-4.landing-banner-item
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-calendar.intro-icon-large
            %h6
              %span
                =link_to("EVENTS", events_path)
                %br

            %p
              For beginners and experts. We run monthly workshops and meetups under the banner of Lean Startup Melbourne which is the largest meetup group in Melbourne (7,000 members)
              %br
              %br
          .pad25

        .col-sm-6.col-md-4.landing-banner-item
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-pencil-square-o.intro-icon-large
            %h6
              %span
                =link_to("JOIN", memberships_path)
                %br

            %p
              Startup Victoria members receive many benefits such as $30,000+ worth of discounts on essential startup services and discounts on all our events

            %a.btn.btn-pricing{"href" => new_membership_path}
              %h5
                Join Now
          .pad25

        .col-sm-6.col-md-4.landing-banner-item
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-magic.intro-icon-large
            %h6
              %span
                =link_to("INSPIRATION", "http://aboveallhuman.co/", :target => "_blank")
                %br

            %p
              Startup Victoria holds an annual conference <a href="http://aboveallhuman.co" target="_blank">Above All Human</a> which is Australia's largest Tech Startup Conference
              %br
              %br
          .pad25

        .col-sm-6.col-md-4.landing-banner-item
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-female.intro-icon-large
            %h6
              %span
                =link_to("FEMALE FOUNDERS", "http://www.femalefounders.me")
                %br

            %p
              Walking the entrepreneurship path together

            .pad25

            %a.btn.btn-pricing{"href" => "http://www.femalefounders.me"}
              %h5
                Read More
          .pad25

        .col-sm-6.col-md-4.landing-banner-item
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-phone.intro-icon-large
            %h6
              %span
                =link_to("OFFICE HOURS", "http://officehours.startupvictoria.com.au/")
                %br

            %p
              Connect with, and learn from Founders, Investors and Industry Experts

            .pad25

            %a.btn.btn-pricing{"href" => "http://officehours.startupvictoria.com.au/"}
              %h5
                Read More
          .pad25

        .col-sm-6.col-md-4.landing-banner-item
          .tile
            .intro-icon-disc.cont-large
              %i.fa.fa-coffee.intro-icon-large
            %h6
              %span
                =link_to("UNPITCH", "http://unpitch.startupvictoria.com.au/")
                %br

            %p
              Make connections that will help you get to the next stage.

            .pad25

            %a.btn.btn-pricing{"href" => "http://unpitch.startupvictoria.com.au/"}
              %h5
                Read More
          .pad25

.home-index#banner
  .jumbotron.container.intro_wrapper
    .inner_content
      .welcome_index.animated.fadeInDown
        Startup Victoria wants to
        %br
        encourage more people to be founders
        %br
        and help founders be more successful
