- content_for :page_title do
  Events

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Startup-friendly events in Victoria
        %h1.intro
          %p
            This list aims to be comprehensive.
            %a{ href: new_contact_path }
              Let us know
            if something is missing.

.container
  %ul#events-tab.nav.nav-tabs{ role: "tablist" }
    %li.active
      %a{ href: "#upcoming" }
        Upcoming
    %li
      %a{ href: "#previous" }
        Previous

  .tab-content
    .tab-pane.active{ id: "upcoming" }
      = render :partial => "event_list", :locals => { time_horizon: :upcoming }
    .tab-pane{ id: "previous" }
      = render :partial => "event_list", :locals => { time_horizon: :previous }
