- content_for :page_title do
  Events

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Startup-friendly events in Victoria
        %h1.intro
          %p
            This list aims to be comprehensive.
            %a{ href: new_contact_path }
              Let us know
            if something is missing.

.container
  .row
    .col-xs-12
      %ul#events-tab.nav.nav-tabs.row{ role: "tablist" }
        %li.active.col-xs-12.col-sm-3
          %a{ href: "#upcoming" }
            Upcoming
        %li.col-xs-12.col-sm-3
          %a{ href: "#previous" }
            Previous

        %select.selectpicker.pull-right.col-xs-12.col-sm-3#fred{ "data-style" => "btn-warning",
          "data-default-option" => "Show All Events" }
          %option
            Show All Events

          %option{ "data-divider" => "true" }

          %option
            Startup Victoria

          %option{ "data-divider" => "true" }

          - organizer_names(:upcoming).each do |organizer_name|
            - if organizer_name != 'Startup Victoria'
              %option
                = organizer_name

      .tab-content
        .tab-pane.active{ id: "upcoming" }
          = render :partial => "event_list", :locals => { time_horizon: :upcoming }
        .tab-pane{ id: "previous" }
          = render :partial => "event_list", :locals => { time_horizon: :previous }
