---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=1%20(peter%40hooli.com)&card=tok_1040WK2Bqo1TlaLlJGhZweWM
    headers:
      Authorization:
      - Bearer sk_test_XWC6nVWqURWbnxUI5QtKJiKo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1399708363,
          "id": "cus_40WKCpHPpDOlgj",
          "livemode": false,
          "description": "1 (peter@hooli.com)",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_40WKCpHPpDOlgj/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_40WKCpHPpDOlgj/cards",
            "data": [
              {
                "id": "card_1040WK2Bqo1TlaLlq5Ye5DT4",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 6,
                "exp_year": 2014,
                "fingerprint": "DhZaUzXhkx7dVHFD",
                "customer": "cus_40WKCpHPpDOlgj",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_1040WK2Bqo1TlaLlq5Ye5DT4"
        }
  recorded_at: Sat, 10 May 2014 07:52:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_40WKCpHPpDOlgj/subscriptions
    body:
      encoding: US-ASCII
      string: plan=premium
    headers:
      Authorization:
      - Bearer sk_test_XWC6nVWqURWbnxUI5QtKJiKo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_40WKMDJdBuk7T1",
          "plan": {
            "interval": "year",
            "name": "Premium",
            "created": 1399705209,
            "amount": 9900,
            "currency": "aud",
            "id": "premium",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1399708364,
          "status": "active",
          "customer": "cus_40WKCpHPpDOlgj",
          "cancel_at_period_end": false,
          "current_period_start": 1399708364,
          "current_period_end": 1431244364,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null
        }
  recorded_at: Sat, 10 May 2014 07:52:44 GMT
recorded_with: VCR 2.8.0
