<div style="min-height:600px;background-color: #ededed">
  <div class="cont">
    <div class="cleanit">
      <h3 class="redtitle" style="padding:20px 0;font-size:27px;">
        Forgot Password?
      </h3>

      <form action="/forgot_password" method="POST" class="emailsub ajaxform" style="padding:0 0 60px 0;">
        <div>Email:</div>
        <input type="text" name="email" value=""/>
        <div style="margin-top:5px">
          <button type="submit" class="btn" style="margin-top:10px">
            SEND PASSWORD
          </button>
        </div>
      </form>
      <br>
      <div style="line-height: 26px;color:#666">
        <a href="/login">Click here</a> to login.<br/>
        Don't have an account? <a href="/plans">Click here</a> to create a new account.<br><br>
      </div>
    </div>
  </div>
</div>
