- content_for :page_title do
  Dashboards / Membership

.membership
  %h1
    Membership Details

  %br

  %h4
    .row
      .col-sm-4
        Your Email
      .col-sm-8.rhs
        = current_user.email
    
  %h4
    .row
      .col-sm-4
        Your Membership Number
      .col-sm-8.rhs
        = current_user.membership_number
    
  %h4
    .row
      .col-sm-4
        Your Phone Number
      .col-sm-8.rhs
        = current_user.phone_number.blank? ? "not recorded" : current_user.phone_number
    
  %h4
    .row
      .col-sm-4
        Membership Started
      .col-sm-8.rhs
        = current_user.created_at.to_date
