- content_for :page_title do
  Dashboards / Welcome

%h1
  Welcome

%p
  As a member of Startup victoria, here are some things you can do.

%h3
  Events
%p
  Attend an
  <a href="#{events_path}?organizer=startup-victoria">event</a>.
%p
  Members get free or discounted access to most events.

%h3
  Coupons
%p
  Browse the
  <a href="#{coupons_path}">coupons</a>.
%p
  Members get "free for a period of time" or discounted use of tons of useful, startup-friendly services.
