- content_for :page_title do
  About Us

.row
  #banner
    .container.intro_wrapper
      .inner_content
        %h1.title
          Who We Are 
        %h1.intro
          %p
            Introduction
          %p
            Startup Victoria is a nonprofit organisation dedicated to supporting and building Victoria's startup ecosystem. 
          

.container#mission
  .col-sm-10
    %h1
      Our Mission

    %p
      Startups are hard, and they require resilience and
      determination. If they were easy, everyone would be starting
      one. Since there aren't that many of us crazy enough to take on
      this huge challenge, we need to band together.

    %p
      Startup Victoria is all about helping you find the other people
      around you who are fighting the good fight as well. It's a place
      to celebrate your wins, commiserate over struggles and push each
      other further along the path to success.

    %p
      We all need a support team to help us keep going when times are
      tough, and startup founders are no different. Startup Victoria is
      the place to find resources to guide you and people to inspire
      you on your Startup journey.

    %h1
      Become a volunteer

    %br

    .row
      .col-sm-12
        %p
          Startup Victoria is an volunteer-driven organisation. We threw together this video to give you a feel for the vibe. We encourage you to volunteer - 
          %a{ href: new_contact_path }
            get in touch
          \!


    %h1
      Our Board of directors

    .row
      - director_attributes.each_index do |i|
        = render :partial => "director", :locals => { director: director_attributes[i] }

    %h1
      Our Management
    .row
      .col-sm-3
        %center
          = image_tag "larsprofile.jpg", class: "img-circle"
          %h3
            %a{"href" => "http://au.linkedin.com/in/larslindstromoz/ "}
              Lars Lindstrom
            %p
              Chief Executive Officer
      .col-sm-3
        %center
          = image_tag "thomas.png", class: "img-circle"
          %h3
            %a{"href" => "http://www.linkedin.com/profile/view?id=234851115&trk=nav_responsive_tab_profile "}
              Thomas Anbeek
            %p
              Events Manager
