/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

root { 
    display: block;
} 

*{margin:0;padding:0;}
html{background-color: #262626;}
body{font: 14px Helvetica, Sans-Serif; }
a{ text-decoration: none;color: #00a2d3; }
a:hover{ text-decoration:underline; }
.cont{width:1142px;margin:0 auto;position: relative}
.fl{float:left}
.fr{float:right}
#header{background-color: #fff;height:160px;width:100%;}
.cleanit:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.fixpos{padding-top:28px;}
.btn{cursor: pointer;background-color: #bb001c;color: #fff !important; display: inline-block; border: none; padding: 10px 28px; font-size: 17px;}
.loginbutton{padding-top:20px;}
.nav{position:relative;width:100%;height:52px;background:url('navbar.png') repeat-x;}
.nav:after, .nav ul:after { content: ""; width: 150px; height: 1px; margin-top: 88px; margin-left: -75px; display: block; position: absolute; left: 50%; z-index: -1;  }
.nav li{  zoom: 1;list-style: none;float:left;height:52px;overflow: hidden;}
.nav li a { color: #888; font-size: 18px; display: inline-block; padding: 16px 20px;}
.nav li a:hover, .aktif {color:#fff !important;background-color: #bb001c;text-decoration: none}
a.facebook{position: absolute;top:10px;right:90px;}
a.twitter{position: absolute;top:10px;right:45px;}
a.rss{position: absolute;top:10px;right:0px;}
ul.dropdown{ position: relative;}
ul.dropdown ul { width: 220px; visibility: hidden; position: absolute;top:52px;z-index:9999}
ul.dropdown ul li { font-weight: normal; background: #f6f6f6; color: #000; border-bottom: 1px solid #ccc; float: none; } 
ul.dropdown ul li a { border-right: none; width: 100%; display: inline-block;background-color: #bb001c;color:#fff } 
ul.dropdown ul li a:hover{background-color: #a20018;}
.navhover .mainlink{background-color: #bb001c;color:#fff;}
#sponsors{height:250px;background-color: #fff;width:100%;}
.title{color:#bb001c;font-size:23px;}
#sponsors ul{margin-top:15px;}
#sponsors li{float:left;width:255px;height:100px;margin-left:40px;background-color: #000;list-style: none}
.sponsorslist > li:first-child { margin-left:0 !important; }
.sponsorstop{padding-top:45px;}
#footer{padding:20px 0;}
.aboutus{width:50%;min-height: 148px;}
.other{width:25%;} 
.hello{width:25%;}
.xtitle{color:#fff;font-size:23px;}
.descx{color:#666;margin-top:10px;font-size:12px;padding:0 20px 0 0}
.otherx{margin-top:10px;}
.otherx a{color:#666;display:block;margin: 0 40px 10px 5px} 
.otherx a:hover{color:#bb001c;} 
.descx a{color:#666; margin: 0 40px 10px 5px} 
.descx a:hover{color:#bb001c;} 

.descx{line-height: 20px;}
#footeralt{padding:20px 0; text-align: center;background-color: #202020;line-height: 20px;font-size:12px}
#footeralt .xxx{margin:0 10px;}
#footeralt, #footeralt a{ color: #949494}
#footeralt a:hover{color:#bb001c;} 
#footeralt div{margin-top:8px;}
.newsarea {color:#777}
.newsarea a{color:#333;font-weight: bold;font-size:15px;display:block;margin-bottom:5px}
.newsarea a:hover{color:#bb001c;text-decoration: none}
.newsarea td{padding-top: 20px}
#whoweare{padding:50px 0;}
#whoweare .titley{font-weight: bold;font-size:18px;margin-bottom:5px;margin-top:15px;}
#whoweare a{color:#00a2d3}
#whoweare p{margin-bottom:10px;color:#666666;line-height: 22px;}

.circular {
    width: 222px;
    height: 222px;
    border-radius: 111px;
    -webkit-border-radius: 111px;
    -moz-border-radius: 111px; 
    margin: 0 auto;
    position:relative;
    overflow: hidden
}
.aboutpicbg{position: absolute;top:0;left:0;width:222px;height:222px;background-color: #000;opacity: 0.8;display: none}
.circular:hover .aboutpicbg{display:block}
.vallistin{width:180px;height:300px;margin-left:60px;float:left}
.vallistin img{width:180px;background-color: #000;margin-bottom: 5px;height:250px;/*remove height*/}
.vallist{padding-top:20px}
.vallist > .vallistin:first-child { margin-left:0 !important; }
.vallistin div{padding-top:5px;font-size:14px;color:#666;text-align: center;font-weight: bold;}
.redtitle{color:#bd0e2b;padding-bottom:0px;font-size:25px;font-weight: normal;}
.emailsub label{display:block;}
.emailsub input{display:inline-block;margin-top:10px; padding:10px;font-size:15px;border:none;width:315px}
.emailsub .form_field_msg.error{color:#cc4444;}
.emailsub textarea{display:block;margin-top:10px; padding:10px;font-size:15px;border:none;width:90%;height:140px}
.findoutm{border:1px solid #bbb;border-radius: 3px;}
.etert td{padding: 0px 0px 10px 0px !important;}
.offerslink{color:#333;font-weight: bold;}
.inneroffer{float:left;width:227px;border:1px solid #c3c3c3;background-color: #e4e4e4;margin:0 8px 16px 8px}
.compname{padding:10px;text-align: center;background-color: #c3c3c3;margin:0}
.showdet{opacity: 0.9;background-color: #a20018;color:#fff;font-size:32px;position: absolute;top:0px;left:0px;display: none;width:227px;height:227px;text-align: center}

.offerslink:hover .inneroffer{border:1px solid #a20018;background-color: #a20018}
.offerslink:hover .compname{color:#fff;background-color: #760018}
.offerslink:hover .showdet{display:block;}

/*RESPONSIVE*/
@media (min-width:769px) and (max-width:1180px){.cont{width:768px}}@media (max-width:768px){body>*{min-height:1px!important}img{width:100%}#header{height:95px}.cont{width:100%}.cont>*{padding-left:15px!important;padding-right:15px!important}#header .cont{margin:0}#header .cont .fl{width:150px}#header .cont .fl img{width:100%}#header .cont .fr.loginbutton{padding-top:0}.nav{background:0 0;height:208px}.nav .cont{margin:0}.nav .cont>*{padding:0!important}.nav .cont ul li{width:100%;background:url(/navbar.png) repeat-x}.nav .cont ul li a{width:100%}a.twitter{right:15px}a.facebook{right:60px}.banner{height:auto!important}#whoweare{padding:20px 0}#whoweare table{width:100%;display:block;padding:0!important}table{margin:0 auto!important}table tbody,table tbody tr,table tbody tr td{display:block}#whoweare table tbody td{padding:0 15px;width:auto}#whoweare iframe{width:290px;height:205px}.member-offers{width:100%!important}a.offerslink>div{margin:0 5% 15px 0}a.offerslink:nth-child(even)>div{margin-right:0}a.offerslink>div>*{width:100%!important;height:auto!important}a.offerslink>div>.compname{padding:10px 0;height:auto!important}a.offerslink .inneroffer{width:46%}a.offerslink .inneroffer .showdet{width:100%;height:100%;font-size:18px}table a.btn{margin:0 0 15px}.plans-img{width:100%!important;display:none}table.plans{display:table;width:100%}table.plans tbody{display:table-row-group}table.plans tr{display:table-row}table.plans td{display:inline-block;width:50%;font-size:12px}table.plans td:nth-child(4n-3){display:block;width:100%}table.plans td:nth-child(2),table.plans tr:nth-child(2){display:none}table.plans td>div{height:auto!important}table.plans .header{margin:0!important}table.plans .price{margin:0!important;font-size:30px!important}table.plans .description{margin:0!important}table.plans td img{width:auto}.contact-block,.terms-block{width:100%!important}#mapheader{height:200px!important}form.emailsub{padding:0!important}form.emailsub input,form.emailsub textarea{width:auto}table .thank-you{width:100px;display:block;margin:0 auto}#footer .aboutus,#footer .other{width:100%;margin-bottom:15px;min-height:1px}#footer .other .otherx a{margin:0}#footer .hello{width:100%;margin-bottom:15px;min-height:1px}#footer .hello .descx a{margin:0}}
