.event-list-item {
    border-top-style: solid;
    padding: 10px 0 10px 0;
}
.event-list-item:last-child {
    border-style: solid none solid none;
}
.event-time {
	line-height: 150%;
	text-align: center;
}
