.Form--contactUs
{
  padding: 0 0 60px 0;
}

.Form--input
{
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  border: none;
  width: 315px;
}

.Form-textarea
{
  display: block;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  border: none;
  width: 90%;
  height: 140px;
}

.Form-btn
{
  @extend .btn;
  margin-top:10px;
}
