.Header
{
  background-color: #fff;
  height: 160px;
  width: 100%;
}

.Header-content
{
  width: 1142px;
  margin: 0 auto;
  position: relative;
  padding-top: 28px;
}

.Header-btn
{
  @extend .btn;
  float:right;
  margin-top: 20px;
  margin-left: 10px;
}

@media(max-width: 1024px)
{
  .Header, .Header-content
  {
    width: 100%;
  }

  .Header-logo
  {
    width: 50%;
  }
}
