.home-index .band1 {
    font-size: 21px;
    font-weight: 200;
}

.home-index {
  margin-bottom: -60px !important;
}

.homerow {
  background-position: 0px center;
  background-repeat: no-repeat;
  background-image: image-url("slider.jpg");
  background-size: cover;
  margin: 0 auto;
  min-height: 356px;
  width: 100%;
}

.homerow > .wrapper {
  padding: 0;
}

.homerow .inner_content {
  padding: 25px 0;
}

.homerow .inner_content .row > :last-child .tile {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .homerow .inner_content {
    padding: 60px 0;
  }
}

@media (min-width: 980px) {
  .landing-banner-item {
    height: 260px;

    .tile {
      height: 100%;
    }
  }
}