.home-index .band1 {
    font-size: 21px;
    font-weight: 200;
}

.homerow {
  background: url("/assets/slider.jpg") 0px center no-repeat;
  background-size: cover;
  margin: 0 auto;
  min-height: 356px;
  width: 100%;
}