.Legal-copy
{
  margin-bottom:15px;font-size:15px;line-height: 19px;
}

.Legal-heading
{
  padding:10px 0;font-size:20px;
}

.Legal-list
{
  margin: 20px;
}

.Legal-listItem
{
  padding-left:10px;
  list-style: disc;
  margin-top: 5px;
}
