---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Jim%20Bob&card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2014&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_XWC6nVWqURWbnxUI5QtKJiKo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1040Yt2Bqo1TlaLlrGrXShiT",
          "livemode": false,
          "created": 1399717899,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1040Yt2Bqo1TlaLlFArJXjE6",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2014,
            "fingerprint": "DhZaUzXhkx7dVHFD",
            "customer": null,
            "country": "US",
            "name": "Jim Bob",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sat, 10 May 2014 10:31:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=bob%40bob.com&description=User%20%233&card=tok_1040Yt2Bqo1TlaLlrGrXShiT
    headers:
      Authorization:
      - Bearer sk_test_XWC6nVWqURWbnxUI5QtKJiKo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1399717900,
          "id": "cus_40YtmmQIQbmuzM",
          "livemode": false,
          "description": "User #3",
          "email": "bob@bob.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_40YtmmQIQbmuzM/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_40YtmmQIQbmuzM/cards",
            "data": [
              {
                "id": "card_1040Yt2Bqo1TlaLlFArJXjE6",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 6,
                "exp_year": 2014,
                "fingerprint": "DhZaUzXhkx7dVHFD",
                "customer": "cus_40YtmmQIQbmuzM",
                "country": "US",
                "name": "Jim Bob",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_1040Yt2Bqo1TlaLlFArJXjE6"
        }
  recorded_at: Sat, 10 May 2014 10:31:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_40YtmmQIQbmuzM/subscriptions
    body:
      encoding: US-ASCII
      string: plan=premium
    headers:
      Authorization:
      - Bearer sk_test_XWC6nVWqURWbnxUI5QtKJiKo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_40Yt9pa3ziMjVM",
          "plan": {
            "interval": "year",
            "name": "Annual",
            "created": 1399716349,
            "amount": 9900,
            "currency": "aud",
            "id": "premium",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1399717901,
          "status": "active",
          "customer": "cus_40YtmmQIQbmuzM",
          "cancel_at_period_end": false,
          "current_period_start": 1399717901,
          "current_period_end": 1431253901,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null
        }
  recorded_at: Sat, 10 May 2014 10:31:41 GMT
recorded_with: VCR 2.8.0
