- content_for :page_title do
  Receipts

%h1
  Receipts

.col-xs-8
  %table.table
    %thead
      %tr
        %th
          Invoice Id
        %th
          Amount
        %th
          Receipt
    %tbody
      - if @receipts.empty?
        %tr
          %td{ colspan: 3 }
            %p
              You have not made any payments.
            %p
              No payments ==> no receipts.

      - @receipts.each do |receipt|
        %tr
          %td
            = receipt.invoice_id
          %td
            = receipt.amount
          %td
            = link_to "Download", receipt_path(receipt.invoice_id)
