- content_for :nested_layout do
  .row
    .col-sm-2
      %ul.nav.nav-pills.nav-stacked.navbar-set-active
        %li.disabled.navbar-brand
          %p
            %strong
              Dashboard

        %li.active
          %a{ href: welcome_dashboards_path }
            Welcome

        %li
          %a{ href: membership_dashboards_path }
            Membership

        %li
          %a{ href: receipts_path }
            Receipts

    .col-sm-8
      .dashboards
        = yield

= render template: "layouts/application"
